@charset "UTF-8";

#adminNav {
	background-color: #3F5B73;
}

#adminNav  a {
	color: white;
}

body {
	background: #EBF2F2;
}

input.invalid {
	background-color: #ffdddd;
}
/* Hide all steps by default: */
.tab {
	display: none;
}
/* Make circles that indicate the steps of the form: */
.step {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbbbbb;
	border: none;
	border-radius: 50%;
	display: inline-block;
	opacity: 0.5;
}

/* Mark the active step: */
.step.active {
	opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
	background-color: #04AA6D;
}

.course-title {
	display: flex;
	justify-content: center;
	font-weight: bold;
	font-size: 34px;
	color: #fff;
}

.count-up {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	margin: 20px;
	box-shadow: -4px 2px 10px 0 rgba(0, 0, 0, 0.2);
	background-color: #fff;
	width: 250px;
	height: 300px;
}

.counter {
	font-size: 40px;
	font-weight: bold;
	background-color: #fff;
	border-radius: 3px;
	position: relative;
	color: #3e3e3e;
}

.wrapper i {
	color: #17a2b8;
	z-index: 1;
	font-size: 64px;
	margin-bottom: 5px
}

.form {
	background: #fff;
	padding: 20px 20px 20px 20px;
	margin: 0 10px;
	border-radius: 12px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.tabb {
	background: #fff;
	border-radius: 12px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
	width: 1200px;
}

.btn {
	border-radius: 30px;
	background-color: #73A2BF;
}

.btn:hover {
	background-color: #A9D0D9;
}